<!DOCTYPE	html>
<html>
<head>
	<title>Alchemist App</title>
</head>
<body>
	<% tweets.forEach(function(tweet) { %>
<div>
  <a href="/tweets/<%= tweets %>"><%= tweets %></a>
  <div>
    <%= tweets %>
  </div>
</div>
<% }) %>
</body>
</html>