<!DOCTYPE	html>
<html>
<head>
	<title>Alchemist App</title>
</head>
<body>
	<div>
		<h1>Sentiment Analysis of Twitter Timelines</h1>
		<% tweets.forEach(function(tweet){ %>
			<div class="container">
				<div class="row">
					<%= tweet %>
				</div>
			</div>
			<% }) %>

	</div>
</body>
</html>