<!--views/search/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Data Alchemist</h1>
    <form method="post" action="/results">
      <input type="text" name="tweets[user_id]" placeholder="Search by Twitter Handle"><br />
      <button>Gimme Yo Tweets </button>
    </form>
  </body>
</html>
